.values {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.valore {
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
    font-weight: bold;
    font-size: 2rem;
}

.valord {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(89, 34, 240);
    font-weight: bold;
    font-size: 2rem;
}